@font-face{                   //pour inclure la police dans le fichier css
	font-family :"Brandon-Grotesque" ;
	src :url("../../public/fonts/brandon-grotesque-light-58a8a4b38001d.otf") ;
}

body{
    font-family:"Brandon-Grotesque" ,sans-serif ;
}



